{{>layouts/header}}
<!--content-->
<!--부트스트랩에서 제공하는 class속성 배경색상 bg-dark 어둡게
텍스트색상 text-white 하얗게 /상하좌우 여백 p-5 =5배-->
<div class="bg-dark text-white p-5">
<h1>{{username}}님, 반갑습니다.</h1>
</div>
{{>layouts/footer}}