{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>  <!--글을 수정하면 /artcles/1/edit 페이지로 이동-->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>  <!--글을 삭제하면 /artcles/1/delete 페이지로 이동-->
<a href="/articles">Go to Artice List</a>

<!-- article의 사용 영역을 정해놓았다면 id만 적어도 되지만 그 외의 영역에서는 article.id를 사용해야한다. -->

{{>layouts/footer}}